main{
    width: 600px;
    height: auto;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.mate-detail-title-text{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mate-detail-subtitle-text{
    font-size: 15px;
    font-weight: bold;
    color: lightgrey;
}


/* 모집완료 버튼 */
button{
    
    color: aliceblue;
    border-color: aliceblue ;
    border-radius: 5px;
}

.mate-detail-form-button3{
    background-color: #18c6ae;
    width: 80px;
    height: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
} 

.mate-detail-form-button-text{
    font-size: 12px;
}

.mate-detail-form-button-text2{
    font-size: 12px;
    float: right;
    margin-top: 15px;
    color: #e4584b;
    font-weight: bold;
}


/* 작성자 프로필 */
.mate-detail-profile{
    width:100%;
    height: 100%;
}

.mate-detail-profile > div{
    display: inline;
}

.member-box > div{
    display: inline;
}


/* 모집 요구 정보 */
.mate-detail-bigform{
    border: 1px solid rgb(240, 239, 239);
    background-color: rgb(240, 239, 239);
    border-radius: 10px;
}

.mate-detail-bigform > *{
    margin-left: 3%;
}

.mate-detail-form{
    height: 450px;
}

.comment-text-box{
    height: 210px;
    width: 560px;
    border: 1px solid lightgrey;
    background-color: white;
    padding-top: 10px;
}

.commentbox-text{
    margin-left: 10px;
}

.mate-detail-form > *{
    padding-bottom: 13px;
}


/* 삭제, 수정 버튼 */
.form-button{
    display: inline;
}

.mate-detail-form-button1{
    background-color: #e4584b;
    margin: 5px;
    padding-left: 5px;
    height: 30px;
    width: 70px;
}

.mate-detail-form-button2{
    background-color: #18c6ae;
    margin: 5px;
    padding-left: 5px;
    height: 30px;
    width: 70px;
    float: right;
}


/* 댓글 아이콘, 수 */
.comment-icon-box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 15px
}

.comment-icon{
    object-fit: contain;
    height: 25px;
    width: 25px;
    margin-top: 10px;
}

.comment-num{
    margin-bottom: 2px;
}


/* 댓글 목록*/
.mate-detail-form-comment2{
    background-color: rgb(240, 239, 239);
    border-color: rgb(240, 239, 239);
    border-radius: 10px;
    height: 380px;
}

.comment2-box > div{
    display: inline-flex;
    height: 30px;
    margin-right: 15px;
}

.mate-detail-form-comment2 > *{
    margin-left: 3%;
}

.modify-button-box{
    display: flex;
    justify-content: flex-end;
    float: right;
    margin-right: 10px;
    /* background-color:; */
    border: none;
}

.modify-button{
    color: black;
}

.delete-button-box{
    display: flex;
    justify-content: flex-end;
    float: right;
    margin-right: 10px;
    /* background-color: white; */
    border: none;
}

.delete-button{
    color:#e4584b;
}

/* 페이징 */
.page_wrap {
	text-align:center;
	font-size:0;
   padding-top: 10px;
 }
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}
.page_nation .pprev {
	background:#f8f8f8 url('img/page_pprev.png') no-repeat center center;
	margin-left:0;
}
.page_nation .prev {
	background:#f8f8f8 url('img/page_prev.png') no-repeat center center;
	margin-right:7px;
}
.page_nation .next {
	background:#f8f8f8 url('img/page_next.png') no-repeat center center;
	margin-left:7px;
}
.page_nation .nnext {
	background:#f8f8f8 url('img/page_nnext.png') no-repeat center center;
	margin-right:0;
}
.page_nation a.active {
	background-color: #18c6ae;
	color:#fff;
	border:1px solid #18c6ae;
}

  /* 댓글 달기 */
  .comment-write-box{
    display: flex;
    margin-top: 30px;
  }

  textarea{
    width: 470px;
    height: 80px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .comment-write-button{
    background-color: #18c6ae;
    width: 80px;
    height: 85px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 3px;
  }
